[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
allure-pytest = "*"
textfsm = "*"
snappi = "==0.5.8"
scapy = "*"
ansible = "*"
pyrsistent = "*"
grpcio = "*"
protobuf = "*"
requests = "*"
paramiko = "*"
pexpect = "*"
flaky = "*"
matplotlib = "*"
ixnetwork-restpy = "==1.1.6"
snappi-ixnetwork = {editable = true, ref = "1c67c78", git = "https://github.com/chestercheng/snappi-ixnetwork.git"}

[dev-packages]
black = "==22.3.0"
reorder-python-imports = "2.6.0"
flake8 = "*"
ipython = "*"
pre-commit = "==v2.15.0"
pdbpp = "*"
python-lsp-server = "*"

[requires]
python_version = "3.7"
